@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,200;0,400;1,100&display=swap');




/* HTML */
* {
    box-sizing: border-box;
    font-family: 'DM Sans';
    margin: 0;
    padding: 0;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}






/* BODY */

h1 {
    width: 100%;
    max-height: fit-content;
    font-size: 5px;
}






/*HEADER*/ 

header {
    background: #2A2E34;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    
}

.header-container  {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}

.header-container .logo {
    margin:0px  10px;
}


.logo .logo-image{
    width: auto;
    height: 5rem;
    max-width: 100%;
    display: block;
    
}

.header-container ul {
    display: flex;
    list-style: none;
}

.header-container nav ul li a{
    color: rgb(255, 255, 255);
    margin-left:15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;

}

.header-container nav ul li a:hover{
    color: #C86AE3;
}

.header-container-responsive {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 7px;
    cursor: pointer;
    display: none;
}

/* RESPONSIVE HEADER */
@media only screen and (max-width:750px){
    .header-container nav ul li{
        display: none;
    }

    .header-container-responsive {
        display: flex;
    }
    
}




/* MAIN */

main {
    background-color: #2A2E34;
}

.home-container{
    background-color: #2A2E34;
    display: flex;
    padding: 6rem 2rem;
    column-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;

}

.banner-cusanotech {
    font-weight: bold;
    margin: auto;
}

.cusano-title {
    font-size: 7rem;
    
}

.tech-title {
    font-size: 3.5rem;
    color: #D9D9D9;
   
}

.typed {
    color: #C86AE3;
}



/* RESPONSIVE MAIN */

@media only screen and (max-width:750px){
    .banner-spline3D {
        display: none;
    }
}