@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,200;0,400;1,100&display=swap');




/* HTML */
* {
    box-sizing: border-box;
    font-family: 'DM Sans';
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #2A2E34;
}

html {
    scroll-behavior: smooth;
}






/* BODY */

h1 {
    width: 100%;
    max-height: fit-content;
    font-size: 5px;
}






/*HEADER*/ 

header {
    position: fixed;
    background: #2A2E34;
    width: 100%;
    top: 0;
    left: 0; 
}

.header-container {
    background-color: #2A2E34;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}

.header-container .logo {
    margin:0px  10px;
}


.logo .logo-image{
    width: auto;
    height: 4rem;
    max-width: 100%;
    display: block;
    
}

#link-cv {
    background-color: #9154A8;
    margin-right: 0px;
    border-radius: 10px;
}

#link-cv a {
    font-size: 1rem ;
    background-color: #9154A8;
    
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
    border-radius: 10px;
}

#link-cv a:hover {
    color: #2A2E34;
}

.header-container ul {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.header-container nav ul li a{
    color: rgb(255, 255, 255);
    margin-left:20px;
    padding: 3px;
    font-size: 1.1rem;
    transition: .5s;
    text-decoration: none;

}

.header-container nav ul li a:hover{
    color: #C86AE3;
}

.header-container-responsive {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 7px;
    cursor: pointer;
    display: none;
}



/* RESPONSIVE HEADER */
@media only screen and (max-width:914px){
    .logo .logo-image {
        height: 3rem;
    }
    
    .header-container nav ul li{
        display: none;
    }

    .header-container-responsive {
        display: flex;
    }


}




/* MAIN */

main {
    background-color: #2A2E34;
}

.home-container{
    background-color: #2A2E34;
    display: flex;
    padding: 6rem 2rem;
    column-gap: 5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;

}

.banner-cusanotech {
    font-weight: bold;
    margin: auto;
    margin-left: 6%;
    
}

.title {
    position: relative;
    margin-top: 7rem;
}

.cusano-title {
    font-size: 5rem;
}

.tech-title {
    font-size: 2.8rem;
    color: #9f9aa1;
   
}

.typed {
    color: #C86AE3;
    font-size: 1rem;
    margin-left: 17%;
}



.social-media a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    margin: 40px 5px;
    font-size: 30px;
}


/* RESPONSIVE MAIN */

@media only screen and (max-width:850px){
    .header-container {
        grid-template-columns: none;

    }
    

    .banner-cusanotech {
        height: 100%;
    
    }

    .title {
        height: auto;
    }

    .cusano-title {
        font-size: 4rem;
    }

    .tech-title {
        font-size: 2rem;
    }

    .social-media a {
        display: none;
    }
}


/* BARRA DE NAVEGACION - LOW */

.nav-low {
        position: fixed;
        background: #2A2E34;
        width: 100%;
        left: 0; 
    
}