@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,200;0,400;1,100&display=swap');




/* HTML */
* {
    box-sizing: border-box;
    font-family: 'DM Sans';
    margin: 0;
    padding: 0;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}






/* BODY */

h1 {
    width: 100%;
    max-height: fit-content;
    font-size: 5px;
}






/*HEADER*/ 

header {
    background: #2A2E34;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    
}

.header-container  {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}

.header-container .logo {
    margin:0px  10px;
}


.logo .logo-image{
    width: auto;
    height: 2.8rem;
    max-width: 100%;
    display: block;
    
}

.header-container ul {
    display: flex;
    list-style: none;
}

.header-container nav ul li a{
    color: rgb(255, 255, 255);
    margin-left:15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;

}

.header-container nav ul li a:hover{
    color: #C86AE3;
}

.header-container-responsive {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 7px;
    cursor: pointer;
    display: none;
}

/* RESPONSIVE HEADER */
@media only screen and (max-width:670px){
    .header-container nav ul li{
        display: none;
    }

    .header-container-responsive {
        display: flex;
    }
    
}




/* MAIN */

.home-container{
    background-color: #2A2E34;
    display: flex;
    padding: 6rem 2rem;
}

.banner-cusanotech {
    padding-top: 1rem;
    font-weight: bold;
    margin: auto;
    /* position: relative; */
}

.cusano-title {
    font-size: 6rem;
    bottom: 0 auto;
    line-height: 1;
}

.tech-title {
    font-size: 2rem;
    color: #D9D9D9;
    bottom: 0 auto;
   
}

.typed {
    color: #C86AE3;
    padding-left: 39.5%;
}

.spline3D {
    background-color: #2A2E34;
    width: 50vw;
    height: 100vh;
    align-items: center;
}

/* RESPONSIVE MAIN */

@media only screen and (max-width:670px){
    .inicio-container {
        display: flex;
        flex-direction: column;
    }
    .banner-cusanotech {
        width: 100vw;
        height: 50vh;
    }
    
    .spline3D{
        width: 100vw;
        height: 50vh;
    }
}